# Assignment 12: Seaborn 
### Relational, Distributional, Categorical and Multi-Plots
- Author: Nihit Kumar
- Created: 2026-02-28

[Assignment Source Link](https://docs.google.com/document/d/1s3qALl29_RGUuX2xgrPla2JDDY-sAvsg89esNPBcCWg/edit?tab=t.0)

***

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

In [7]:
student = pd.read_csv('student_data.csv')   # Student performance data
sales = pd.read_csv('sales_data.csv')       # Sales data
insurance = pd.read_csv('insurance.csv')    # Insurance data
rent = pd.read_excel('Rent.xlsx')           # House price data
customer = pd.read_csv('customer_data.csv') # E-commerce data

In [20]:
rent.sample(5)

    area   rent
52  3500  70500
47  1550  21500
3   2250  36100
18  1800  25000
43  2510  40000