# Assignment 10: Pandas  
### Series, Dataframe, Functions, Filtering & Analysis

- Author: Nihit Kumar
- Date: 2025-02-14

[Assignment Source Link](https://docs.google.com/document/d/1FuwP71rVWezK6l9HsWrrCXpAFMWug5nQZpP1GtBHN3Y/edit?tab=t.0)

***

> **Task 1: Pandas Series Basics**

In [16]:
import pandas as pd

marks = [78,85,90,66,72]
marks_series = pd.Series(marks)

print("Series values:",marks_series.values)
print("Series Index:",marks_series.index)
print("Data Types:",marks_series.dtypes)
print("First Element:",marks_series[0])
print("Last two elements:",marks_series.values[-2:])

Series values: [78 85 90 66 72]
Series Index: RangeIndex(start=0, stop=5, step=1)
Data Types: int64
First Element: 78
Last two elements: [66 72]

In [31]:
print("Add 5 grace marks:",marks_series + 5)
print("Reduce 2 marks:",marks_series - 2)
marks_float = pd.to_numeric(marks_series)
print("Multiply all marks by 1.05:",marks_float * 1.05)
print("Divide all marks by 2:", marks_float / 2)

Add 5 grace marks: 0    83
1    90
2    95
3    71
4    77
dtype: int64
Reduce 2 marks: 0    76
1    83
2    88
3    64
4    70
dtype: int64
Multiply all marks by 1.05: 0    81.90
1    89.25
2    94.50
3    69.30
4    75.60
dtype: float64
Divide all marks by 2: 0    39.0
1    42.5
2    45.0
3    33.0
4    36.0
dtype: float64

In [49]:
print("Maximum Marks:",marks_series.max())
print("Minimum Marks:",marks_series.min())
print("Sum of all marks:",marks_series.sum())
print("Mean of all marks:",marks_series.mean())

print("Student scored 70?",list(map(lambda x:x>=70,marks_series)))
print("Student who passed:",list(filter(lambda x:x>=70,marks_series)))

Maximum Marks: 90
Minimum Marks: 66
Sum of all marks: 391
Mean of all marks: 78.2
Student scored 70? [True, True, True, False, True]
Student who passed: [78, 85, 90, 72]

In [57]:
students = {
    'Name': ['Amit', 'Neha', 'Rahul', 'Sneha', 'Pooja'],
    'Marks': [78, 85, 90, 66, 72],
    'Subject': ['Math', 'Math', 'Science', 'Science', 'Math']
}

df = pd.DataFrame(students)
print("Dataframe:",df)
print("First 3 rows:",df.head(3))
print("Last 2 elements:",df.tail(2))

Dataframe:     Name  Marks  Subject
0   Amit     78     Math
1   Neha     85     Math
2  Rahul     90  Science
3  Sneha     66  Science
4  Pooja     72     Math
First 3 rows:     Name  Marks  Subject
0   Amit     78     Math
1   Neha     85     Math
2  Rahul     90  Science
Last 2 elements:     Name  Marks  Subject
3  Sneha     66  Science
4  Pooja     72     Math